<ul class="countries-list">
  <% countries.each(function (country) { %>
    <li class="country-item group">

    <h2 class="country-title">
      <a href="#/countries/<%= country.id %>">
        <%= country.escape("name") %>
      </a>
      <!-- escape("title").toLowerCase() -->
    </h2>

    <ul class="country-posts">
      <% country.posts().slice(0,6).forEach(function (post) { %>

        <li class="post-item">
          <h3 class="category-name">
            <a href="#/categories/<%= post.escape('category').toLowerCase() %> ">
              <%= post.escape('category') %>
            </a>
          </h3>

          <%= JST["posts/_post"]({ post: post }) %>

        </li>

      <% }) %>
    </ul>
    </li>
  <% }); %>

</ul>
<p>
  <a href="#">
    <h2>Categories</h2>
  </a>
</p>
<p>
  <a href="#/countries/new">Add Country</a><br>
  <a href="#/feeds/new">Add Feed</a>
</p>
