<section class="modal-img-container">
  <div class="post-left">
    <%= post.escape('author') %>
  </div>
  <div class="post-right">
    <section>
      <a href="#/countries/<%= post.escape('country').toLowerCase() %>"><%= post.escape('country') %></a>
    </section>
    <a href="#/categories/<%= post.escape('category').toLowerCase() %>"><%= post.escape('category') %></a>
  </div>
  <img src="<%= post.escape('full_img') %>">
</section>

<div class="post-content">
  <div class="likes">
    <i class="icon-heart pointer"></i>
    <span class="likes-count-num">
      <%= post.escape('likers_names') %>
    </span>
  </div>

  <div class="post-caption">
    <%= post.escape('caption') %>
  </div>
  <div class="post-comments">
  </div>

  <% if ($('.navbar-btn').last().val() === "Sign out") { %>
    <form class="comment-form">
      <input type="hidden" name="comment[post_id]" value="<%= post.escape('id') %>">
      <textarea class="comment-body" name='comment[body]' id='body' rows="1"></textarea>
      <button class="add-comment btn">Submit</button>
    </form>
  <% } %>
</div>
