<h1>Add Feed</h1>

<label>
  <input name="ig_user" type="text" value placeholder="Handle (Instagram)" class="ig-handle-input"><br>
</label>
<br>

... to ...
<br>

<% categories.forEach( function (category) { %>
  <br>
    <label for="<%= category.escape('id') %>" class="category-option">
      <input type="radio" name="category_id" id="<%= category.escape('id') %>" value="<%= category.escape('id') %>" />
      <%= category.escape('name') %>
    </label>
<% }); %>
<br>

<h3>Owner country</h3>
<% countries.forEach( function (country) { %>
  <label class="country-option">
    <input type="radio" name="country_id" value="<%= country.escape('id') %>" />
    <%= country.escape('name') %>
  </label>
  <br>
<% }); %>
<button class="add-feed btn hvr-radial-out">Add feed</button>
