<div class="alert alert-warning alert-dismissible" role="alert">
  '<%= model.escape('ig_user') %>' is now being followed in <a href="#/countries/<%= model.escape('country').toLowerCase() %>"><%= model.escape('country') %></a> and <a href="#/categories/<%= model.escape('category').toLowerCase() %>"><%= model.escape('category') %></a>
</div>
